USE database
GO
/****** Object:  StoredProcedure [dbo].[Upg_UpgradePolicyPremValues]    Script Date: 9/30/2016 5:14:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 ALTER PROCEDURE [dbo].[Upg_UpgradePolicyPremValues] AS DECLARE @LoanCount bigint



 -----------------------------------------------------

 select
NEWID() as Otx_ID
,txh.Txh_POLICYHDRID	
,DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE())) as Otx_CreatedDate
,DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE())) as Otx_StatusDate
,'00000000-0000-0000-0000-000000000034' as Otx_RequestType
,'00000000-0000-0000-0000-000000000001' as Otx_Status
,GETDATE() as Otx_TimeStamp
from 
Cm_Opt_Txh_TrxHdr_S txh
inner join Cm_Sys_Txt_TrxType_I txt on(txh.Txh_TRXTYPEID = txt.Txt_ID_I and txt.Txt_LANGUAGE_I = '00000000-0000-0000-0000-000000000001') 
inner join Cm_Sys_Txs_TrxStatus_I txs on (txh.Txh_TRXSTATUS = txs.txs_ID_I and txs.txs_LANGUAGE_I = '00000000-0000-0000-0000-000000000001') 
where 
txt.Txt_DESCRIPTION_I = 'Anniversary' and 
txs.txs_DESCRIPTION_I = 'Completed' and
Txh.Txh_PROCESSEDDATE = '2014-02-28'


select cast(cast(a.Fst_EXTERNALCODE as varchar) + right('           ',11-len(cast(a.Fst_EXTERNALCODE as varchar))) as varchar) as Fst_EXTERNALCODE
,a.Fst_MANDE,a.Fuv_ID,a.fuv_FUNDSTREAMID 
from 
(select  substring (Fst_EXTERNALCODE,1, CHARINDEX('-', Fst_EXTERNALCODE)-1) as Fst_EXTERNALCODE 
,CAST((fst_mande* 10000000) as varchar) as Fst_MANDE,newid() as Fuv_ID,Fst_ID as fuv_FUNDSTREAMID 
from Cm_Opt_Fst_FundStream_S
where Fst_EXTERNALCODE like '%-%'

union

select  Fst_EXTERNALCODE as Fst_EXTERNALCODE 
,CAST((fst_mande* 10000000) as varchar) as Fst_MANDE,newid() as Fuv_ID,Fst_ID as fuv_FUNDSTREAMID 
from Cm_Opt_Fst_FundStream_S
where Fst_EXTERNALCODE not like '%-%') a


select CAST((fst_mande* 10000000) as varchar) as Fst_MANDE ,CHARINDEX('-', Fst_EXTERNALCODE)-1 from Cm_Opt_Fst_FundStream_S
select Fst_NAME, right(Fst_NAME,5), 133-len(Fst_NAME), right('           ',25-len(cast(Fst_EXTERNALCODE as varchar))) as Fst_EXTERNAL, Fst_EXTERNALCODE  from Cm_Opt_Fst_FundStream_S
select substring (Fst_EXTERNALCODE,1, CHARINDEX('-', Fst_EXTERNALCODE)-1) as Fst_EXTERNALCODE from Cm_Opt_Fst_FundStream_S where Fst_EXTERNALCODE like '%-%'


SELECT SUBSTRING(Fst_EXTERNALCODE, 0, CHARINDEX('-', Fst_EXTERNALCODE))  AS whole_val, Fst_EXTERNALCODE
FROM dbo.Cm_Opt_Fst_FundStream_S 


select Fst_EXTERNALCODE, substring(Fst_EXTERNALCODE,1, CHARINDEX('-', Fst_EXTERNALCODE)-1), CHARINDEX('-', Fst_EXTERNALCODE) from Cm_Opt_Fst_FundStream_S where Fst_EXTERNALCODE  like '%-%'



-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------					