USE database
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[uspInsertExternalValues]
(
			@policynumber NVARCHAR(100),
			@startDate NVARCHAR(100),
			@APV FLOAT
			--@APV NVARCHAR(100) CONVERT(float, @APV)
)
AS
BEGIN

SET NOCOUNT ON;

Declare 
@Poh_ID UNIQUEIDENTIFIER = (SELECT DISTINCT Poh_ID 
							FROM dbo.Cm_Opt_Poh_PolicyHdr_S 
							WHERE Poh_POLICYNUMBER = @policynumber
							)


INSERT INTO [dbo].[Cm_Opt_Exv_ExternalValues_S]
           ([Exv_ID]
           ,[Exv_POLICYHDRID]
           ,[Exv_STARTDATE]
           ,[Exv_BASISVALUE]
           ,[Exv_ANNUALVALUE]
           ,[Exv_USERID]
           ,[Exv_TIMESTAMP]
		   )
SELECT NEWID() 
	  ,@Poh_ID
	  ,@startDate
	  ,@APV
	  ,0
	  ,'FFFFFFFF-FFFF-FFFF-FFFF-FFFFFFFFFFFF'
	  ,GETDATE()
	  
END
