USE [SSISDB]
GO
/****** Object:  StoredProcedure [dbo].[uspGetElapsedTimeAndRowsAffected]    Script Date: 7/17/2015 2:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[uspGetElapsedTimeAndRowsAffected] (
						@FolderName  VARCHAR(104), 
						@ProjectName VARCHAR(104), 
						@PackageName VARCHAR(104), 
						@MessageTime VARCHAR(104))
AS 
BEGIN

DECLARE  @Folder  VARCHAR(104)
		,@Project VARCHAR(104)u
		,@Package VARCHAR(104)
		,@MsgTime DATETIME;

SET @Folder  = @FolderName
SET @Project = @ProjectName
SET @Package = @PackageName
SET @MsgTime = CAST(@MessageTime AS DATETIME)
select e.folder_name,
	   e.project_name,
	   e.package_name,
	om.message_time ,
	om.message ,
	CASE WHEN om.[message] LIKE '%elapsed%' THEN REVERSE(SUBSTRING(REVERSE(om.message),2,13)) 
		 WHEN om.[message] LIKE '%rows%' THEN REVERSE(SUBSTRING(REVERSE(om.message),PATINDEX('%[0-9]%',REVERSE(om.message)),
		 CHARINDEX(' ',REVERSE(om.message),PATINDEX('%[0-9]%',REVERSE(om.message)))-(PATINDEX('%[0-9]%',REVERSE(om.message)))
		 ))
		 ELSE NULL END AS [ElapsedTime/Rows Affected]
	 from catalog.executions AS e
	INNER JOIN catalog.operation_messages AS om
		ON e.execution_id = om.operation_id
WHERE folder_name =   @Folder	
	AND project_name = @Project
	AND package_name = @Package
	AND (om.[message] LIKE '%elapsed%'
			OR om.[message] LIKE '%rows%'
		)
	AND (message_time >= @MsgTime
			AND message_time < (@MsgTime + 1)
		)
END


EXEC [dbo].[uspGetElapsedTimeAndRowsAffected] 'SalesForce', 'SALES_FORCE', 'Account Extract.dtsx', '2015-07-16 13:44:33.0032488 -05:00' 